@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans:400italic,500italic,300,300italic,500,400");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/6512e9683906ea530ab4adc9.6512e9683906ea530ab4adcc.6512e9693906ea530ab4adce.hcp.png");

@font-face {
  font-family: "Consolas-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.animaapp.com/Consolas-Regular") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valign-text-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}
