:root { 
  --azure-radiance: #00a3ff;
  --black: #000000;
  --celeste: #d0d0d0;
  --cream-brulee: #ffe6a6;
  --green: #00ff38;
  --log-cabin: #222222;
  --perano: #a6afff;
  --red: #ff0000;
  --reef: #b2ffa6;
  --sweet-pink: #ffa6a6;
  --tuatara: #343434;
  --white: #ffffff;
  --yellow-sunshine: #fff400;
 
  --font-size-m: 32px;
  --font-size-s: 24px;
  --font-size-xs: 19px;
  --font-size-xxs: 16px;
  --font-size-xxxs: 13px;
  --font-size-xxxxs: 9px;
  --font-size-xxxxxs: 5.5px;
 
  --font-family-consolas-regular: "Consolas-Regular", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
  --font-family-noto_sans: "Noto Sans", Helvetica;
}
.consolas-regular-normal-white-13px {
  color: var(--white);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-white-5-5px {
  color: var(--white);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-white-9px {
  color: var(--white);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-green-13px {
  color: var(--green);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-green-5-5px {
  color: var(--green);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-green-9px {
  color: var(--green);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.notosans-light-white-32px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 300;
}

.notosans-normal-white-24px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-s);
  font-style: italic;
  font-weight: 400;
}

.montserrat-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
}

.consolas-regular-normal-azure-radiance-13px {
  color: var(--azure-radiance);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-azure-radiance-5-5px {
  color: var(--azure-radiance);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
}

.montserrat-bold-white-32px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.consolas-regular-normal-azure-radiance-9px {
  color: var(--azure-radiance);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.notosans-light-white-19px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 300;
}

.montserrat-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.notosans-light-white-16px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xxs);
  font-style: italic;
  font-weight: 300;
}

.montserrat-normal-celeste-24px {
  color: var(--celeste);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.notosans-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
}

.montserrat-normal-celeste-20px {
  color: var(--celeste);
  font-family: var(--font-family-montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-red-13px {
  color: var(--red);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.notosans-medium-white-32px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-m);
  font-style: italic;
  font-weight: 500;
}

.consolas-regular-normal-red-5-5px {
  color: var(--red);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 400;
}

.consolas-regular-normal-red-9px {
  color: var(--red);
  font-family: var(--font-family-consolas-regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.notosans-medium-white-19px {
  color: var(--white);
  font-family: var(--font-family-noto_sans);
  font-size: var(--font-size-xs);
  font-style: italic;
  font-weight: 500;
}
